<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/bootstrap.css"/>
<link rel="stylesheet" href="css/bootstrap-responsive.css" />
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="js/bootstrap.js"></script>

<style type="text/css">
	.nav-menu
	{
		list-style:none;	
	}
	.header
	{
		border-bottom:none;
		margin-bottom:10px;
		margin-top:10px;		
	}
	.header a
	{
		color:#602CA7;
		text-decoration:none;
		font-size:0.8em;
		padding-left:0px;
		margin-left: 0px;
	}
	.header img
	{
		padding-left:40px;	
		width: 55px;
	}
	
	.vote h1
	{
		font-size: 2em;
		padding: 0px;
		margin: 2px;
	}
	
	.voteup img, 
	.votedown img
	{
		width:30px;
	}
	
	.voteup
	{
		padding-top: 25px;
	}
	
	.voteup, .votedown
	{
		cursor:pointer
	}
	
	.question h3
	{
		padding: 0px;
		margin-bottom: 0px;	
		
	}
	
	.answer2 h3
	{
		padding: 0px;
		margin-bottom: 0px;
	}
	
	.answer2 img
	{
		max-height: 300px;
		max-width: 300px;
		display: block;
	}
	
	.qdetails
	{
		font-size:1em;
		min-height: 3em;
	}
	
	
	.qdetails img
	{
		max-height: 300px;
		max-width: 300px;
		display: block;
	}
	.entity
	{
		border-bottom: solid 1px;
		padding-bottom: 10px;
	}
	
	.questauthor
	{
		padding-top:10px;
		padding-right: 5px;
	}

	.createdate
	{
		padding-top:0px;
		padding-right:5px;
	}
	.editdate
	{
		padding-top:0px;
		padding-right:5px;
	}
	.user-nav
	{
	}
	
	.ask .collapse
	{
		padding-top:10px;
		padding-right:20px;
	}
	
	.answer
	{
		resize:none;
		height: 6em;
	}
	
	.tag
	{
		margin-bottom:6px;
	}
	
	.tags 
	{
		padding-top:10px;
	}
</style>
<title>Question</title>
</head>

<body>

	<div class="container">
    	<div class="row">
    		<div class="span8">
                <div class="breadcrumb text-left">
                        <div class="container">
                        {% if not isguest %}
                            <span>Logged in as: <a href = "#">{{user}}</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href = "{{url}}">Log Out</a>
                            &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/viewimg">Images</a></span>
                        {% endif %}
                        {% if isguest %}
                            <a href = "{{url}}" >Login</a>
                        {% endif %}
                        </div>
				</div>
         	</div>
       </div>
       <div class="clearfix"></div>
       <div class="row">
       		<div class="span8">
            	<div class="span1">
                    <div class="page-header header">
                        <img src="./img/nyu.jpg" />
                    </div>
                </div>
                <div class="span6">
                    <div class="page-header header">
                        <h1><a href="/">NYU Answers</a></h1> 
                    </div>
                </div>
            </div>
       </div>
       <div class="clearfix"></div>
      
       <div class="row">
       		<div class="span8">
            	<div class="row entity">
                	<div class="span1 container vcenter">
                    	<div class="voteup text-center">
                    		<img src="./img/up.png" onclick="location.href='./qvote?id={{question.key.id()}}&vote=True'"/>
                        </div>
                        <div class="vote text-center">
                    		<h1>{{question.votecount}}</h1>
                        </div>
                        <div class="votedown text-center">
                        	<img src="./img/down.png" onclick="location.href='./qvote?id={{question.key.id()}}&vote=False'"/>
                    	</div>
                    </div>
            		<div class="span6">
                    		<div class="question">
                        		<h3>{{question.qtitle}}</h3>
                			</div>
                            <div class="qdetails">
                            	<p>{{detail|safe}}</p>
                    		</div>
                    		<div class="row">
                    			<div class="span3">
                    				{% if not isguest and (user == question.creator) %}
                   					<button class="btn btn-primary" onclick="location.href='./edit?type=quest&id={{question.key.id()}}'">Edit</button>
                   					{% endif %}
             
                    			</div>
	                            <div class="text-right createinfo span3">
	                                <div class="questauthor">
	                                   	Asked by:&nbsp;<a href="#">{{question.creator}}</a>
	                                </div>
	                                <div class="createdate">
	                                    Created on:&nbsp;<span>{{question.date}}</span>
	                                </div>
	                                <div class="editdate">
	                                    Edited on:&nbsp;<span>{{question.mdate}}</span>
	                                </div>
	                           	</div>
	                        </div>
	                        <div class="row tags">
	                        	<div class="span6">
	                        		{% for tag in question.tags %}
	                        			<button class="btn btn-info tag" onclick="location.href='./tags?tag={{tag}}'">{{tag}}</button>&nbsp;
	                        		{% endfor %}
	                        	</div>
	                        </div>
                    </div>
                </div>
            </div>
       </div>  
       <div class="row">
       		<div class="span8 text-left">
            	<div class="container text-right span8 ask">               
         			<div>
          				<form role="form" method="post">
                			<textarea id="comment" name="comment" class="span8 answer"></textarea> 
                			<button type="submit" class="btn btn-primary">submit</button>
                		</form>
         			</div>
         		</div>
            </div>
       </div>
       <div class="clearfix"></div>
       <br/>
       <br/>
        <div class="row">
       		<div class="span8">
       			{% for a in answers %}
            	<div class="row entity">
                	<div class="span1 container vcenter">
                    	<div class="voteup text-center" >
                    		<img src="./img/up.png" onclick="location.href='./avote?id={{a.key.id()}}&vote=True'"/>
                        </div>
                        <div class="vote text-center">
                    		<h1>{{a.votecount}}</h1>
                        </div>
                        <div class="votedown text-center" >
                        	<img src="./img/down.png" onclick="location.href='./avote?id={{a.key.id()}}&vote=False'"/>
                    	</div>
                    </div>
            		<div class="span6">
                    		<div class="answer2">
                        		<h5>{{a.answer|safe}}</h5>
                			</div>
                			<div class="row">
                				<div class="span3">
                    				{% if not isguest and (user == a.creator) %}
                   					<button class="btn btn-primary" onclick="location.href='./edit?type=ans&id={{a.key.id()}}'">Edit</button>
                   					{% endif %}
                    			</div>
	                            <div class="text-right createinfo span3">
	                                <div class="questauthor">
	                                    Ansered by:&nbsp;<a href="#">{{a.creator}}</a>
	                                </div>
	                                <div class="createdate">
	                                    Created on:&nbsp;<span>{{a.date}}</span>
	                                </div>
	                                <div class="editdate">
	                                    Edited on:&nbsp;<span>{{a.mdate}}</span>
	                                </div>
	                           	</div>
	                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
       </div>  
       <br/>
       
       <br/>
       <br/>
       <br/>  
       <div class="clearfix"></div>
       <div class="row">
			<div class="span8">
				<div class = "moreless">
					<h1>
					{% if isless %}
					<a href="{{less}}">Less</a>
					{% endif %}
					&nbsp;&nbsp;
					{% if ismore %}
					<a href="{{more}}">More</a>
					{% endif %}
					
					</h1>
				</div>
			</div>
		</div>
    </div>

</body>